.events {
  display: grid;
  grid-template-columns: 12rem 1fr;
  height: 100%;
}

.nav {
  background-color: rgb(210, 255, 156);
  height: 4rem;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border-bottom: 0.1rem solid;
}

.titles {
  display: flex;
  flex-direction: column;
  border-right: 0.5rem double;
}


.title{
  height: 3rem;
  width: 100%;
  background-color: rgb(232, 255, 203);
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border-bottom: 0.1rem solid;
  transition: all 0.2s;
}

.title:hover {
  letter-spacing: 0.1rem;
  background-color: white;
  cursor: pointer;
}

.selected {
  height: 3rem;
  width: calc(100% + 0.5rem);
  letter-spacing: 0.1rem;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border-bottom: 0.1rem solid;
}